@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');

html, body {
  font-family: 'Lato', sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

#calcBody {
  display: block;
  margin: 5% auto;
  width: 18rem;
  min-height: 32rem;
  padding-top: 1rem;
  color: white;
  background: #2196F3;
  border-radius: 2px;
  border: 1px solid rgba(128, 128, 128, 0.54);
  box-shadow: 1px 1px 1px rgba(96, 125, 139, 0.69);
  position: relative;
}

#display {
  background: white;
  position: absolute;
  color: #2196F3;
  bottom: 3.5%;
  height: 90%;
  width: 74%;
  border-top-right-radius: 0.7rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0.7rem;
  padding: 3% 5%;
}

#display h4 {
  font-size: 1.3rem;
  text-align: left;
  line-height: 100%;
  margin-top: 0;
  margin-left: 1rem;
}


#keys {
  float: right;
  text-align: center;
  width: 16%;
  margin-top: 1rem;
}

#keys>p {
  padding: 10px 0;
  line-height: 1.5rem;
  margin: 0;
  cursor: pointer;
}

#keys p:hover  {
  background: white;
  color: #2196F3;
  transition: all ease-in-out .3s;
}

#keys p:active {
  background: #00BCD4;
  color: #ffffff;
}

#screen {
  padding-top: 5rem;
  text-align: right;
  padding-right: 0.5rem;
  border-bottom: 1px solid rgba(117, 117, 117, 0.27);
}

#screen .result {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 0;
}

#screen .calculation {
  font-size: 1.3rem;
  margin-top: 5px;
  min-height: 1rem;
}

#operators {
  margin-top: 1rem;
  text-align: center;
}

#operators span, .controls .clear, .controls .backspace {
  font-size: 1.5rem;
  border-radius: 50%;
  padding: 8px 1.1rem;
  margin-top: 8px;
  margin-right: 3px;
  transition: all ease-out .2s;
  cursor: pointer;
}

#operators span:hover, .controls .clear:hover, .controls .backspace:hover {
  background: #ccefff;
}
#operators span:active, .controls .clear:active, .controls .backspace:active {
  color: white;
  background: #00BCD4;
}

#calculate {
  font-size: 2.5rem;
  padding: 0px 3.5rem;
  position: absolute;
  bottom: 4%;
  background: #03A9F4;
  left: 21%;
  color: white;
  border-radius: 3rem;
  height: 2.5rem;
  line-height: 2.5rem;
  border: 0;
  box-shadow: 1px 1px 2px #546E7A;
  transition: all ease-in-out .2s;
}

#calculate:hover {
  color: white;
  background: #00BCD4;
}

#calculate:active, #calculate:focus {
  box-shadow: 0 1px 1px grey;
}

.controls {
  position: absolute;
  bottom: 16%;
  left: 18%;
  width: 10rem;
  font-size: 2rem;
}

.controls .clear {
  cursor: pointer
}

.controls .backspace {
  float: right;
  cursor: pointer;
  margin-top: 0rem;
}